@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf),
  url(../../assets/fonts/AvenirNextLTProBold.ttf);
  font-size: 1.5rem;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Bold.otf),
  url(../../assets/fonts/AvenirNextLTProBold.ttf);
  font-size: 0.75rem;
  font-weight: 700;
}
@font-face {
  font-family: "Avenir";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf),
  url(../../assets/fonts/AvenirNextLTPro.ttf);
  font-size: 0.8125rem;
  font-weight: 400;
}