.DiagnosisPage2 {
    &__header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 75%;
    }
    &__button {
        border-radius: 2rem;
        width: 80%;
        height: 3rem;
        background-color: #0096C7;
        margin: 2.5rem;
        color: white;
        font-weight: bold;
    }
    &__form--text {
        padding: 2rem;
    }
    &__form--input {
        height: 1.75rem;
        border-color:#0096c7;
        margin: 0.5rem 0 1.5rem 2rem;
    }
}

