.diagnosis {
    &__header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 75%;
    }
    &__ul {
        list-style-type: none;
    }
    &__li {
        background-color: #e8f3f1;
        color: black;
        margin: 1rem;
        padding: 0.5rem;
    }
    &__link {
        text-decoration: none;
    }
}
