.diagnosis {
    &__header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 75%;
    }
    &__ul {
        list-style-type: none;
    }
    &__li {
        background-color: aquamarine;
        padding: 1rem;
    }
}
