.symptom {
    &__header {
        padding: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 75%;
    }
    &__search {
        width: 100%;
        border-radius: 2rem;
        height: 2.5rem;
        padding: 0 2.5rem;
    }
    &__searchIcon {
        position: absolute;
        padding: 0.75rem;
    }
    &__searchsection{
        padding: 1rem;
    }
    &__button {
        border-radius: 2rem;
        width: 80%;
        height: 3rem;
        background-color: #0096C7;
        margin: 2.5rem;
        color: white;
        font-weight: bold;
        border-color: white;
    }
    &__ul {
        list-style-type: none;
        padding: 1rem;
        display: flex;
    }
    &__all {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
    }
    &__Check {
        margin: 0.5rem;
    }
    &__title {
        padding: 1rem;
    }
    &__strengthBar {
        margin: 1rem;
        width: 80%;
        background-color: #f0f0f0;
        height: 1.5rem;
        border-radius: 2rem;
        margin-top: 1rem;
    }
    &__strength {
        background-color: #fbbc05;
        height: 100%;
        border-radius: 2rem;
    }
    &__strengthTitle {
        padding: 0.5rem 1rem;
    }
}

